annotated-types
bcrypt
certifi
charset-normalizer
fastapi
matplotlib
numpy
openpyxl
pandas
passlib
psycopg2
python-dotenv
python-jose
python-multipart
requests
scikit-learn
scipy
SQLAlchemy
starlette
uvicorn
xgboost
PyYAML